* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --animate-duration: 1500ms;
}

body {
    line-height: 1.7em;
    font-size: 13px;
}

h1 {
    font-size: 100px;
    font-family: 'Comforter', cursive;
    transition-property: color;
    transition-duration: 3s;
    transition-timing-function: linear;
}

h1:hover {
    color: #348feb;
}

footer {
    color: white;
    font-size: 20px;
    font-family: 'Libre Barcode 39 Text', cursive;
    position: absolute;
    width: 100%;
    bottom: 5px;
    text-align: center;
    z-index: 1;
}

.splash {
    width: 100%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.splash-head {
    color: white;
    font-weight: lighter;
    border-radius: 5px;
    line-height: 1em;
}

.splash-container {
    background: black;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.typed_placeholder,
.typed_cursor {
    color: greenyellow;
    background-color: rgb(35, 58, 35);
    font-family: 'Courier Prime';
    font-weight: lighter;
}